apiVersion: batch/v1
kind: Job
metadata:
  name: auto-kubernetes-lets-encrypt
  labels:
    app: auto-kubernetes-lets-encrypt
spec:
  template:
    metadata:
      name: auto-kubernetes-lets-encrypt
      labels:
        app: auto-kubernetes-lets-encrypt
    spec:
      containers:
      - image: quay.io/hiphipjorge/auto-kubernetes-lets-encrypt:44122121c72ea670758360fcf7bb4bbbbaef2bb4
        name: auto-kubernetes-lets-encrypt
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /health
            port: 80
        readinessProbe:
          httpGet:
            path: /health
            port: 80
        ports:
        - name: main
          containerPort: 80
        env:
        - name: DOMAINS
          value: *DOMAIN*
        - name: EMAIL
          value: *EMAIL*
        - name: SECRET_NAME
          value: auto-kubernetes-lets-encrypt
        - name: LETS_ENCRYPT_USER_SECRET_NAME
          value: auto-kubernetes-lets-encrypt
        - name: LETS_ENCRYPT_USER_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: auto-kubernetes-lets-encrypt
              key: private_key
        - name: LETS_ENCRYPT_USER_REGISTRATION
          valueFrom:
            secretKeyRef:
              name: auto-kubernetes-lets-encrypt
              key: registration
      restartPolicy: Never
