apiVersion: v1
kind: Secret
metadata:
  name: auto-kubernetes-lets-encrypt
type: Opaque
data:
  private_key: *PRIVATE_KEY_BASE64*
  registration: ""
---
apiVersion: v1
kind: Service
metadata:
  name: auto-kubernetes-lets-encrypt
spec:
  selector:
    app: auto-kubernetes-lets-encrypt
  type: LoadBalancer
  ports:
  - protocol: "TCP"
    nodePort: *NODE_PORT*
    port: 80
